<div class="cocktail-detail">
  <h2><%= @cocktail.name %></h2>
  <img src="https://source.unsplash.com/150x150/?cocktail,drink" alt="" height="200px" style="border-radius: 2px;">
  <div class="cocktail-desc">
  <p>Here is a description of your cocktail. Here is a description of your cocktail. Here is a description of your cocktail. Here is a description of your cocktail. Here is a description of your cocktail. Here is a description of your cocktail. </p>
  <br>
    <%= link_to "Back to cocktails", cocktails_path %>
  </div>
</div>
